
@model SoheilCMS.Areas.Admin.Models.TagViewListModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin_LayoutPage.cshtml";
}
<div class="col-xs-12">
    @{ Html.RenderPartial("TagList", Model); }
</div>



@section script{
    @Scripts.Render("~/bundles/Pager")  
}