@model IEnumerable<FrameWork.Application.SelectList>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.RadioButton("WorkCategoryId", item.Id) @item.Name
        </li>
    }
</ul>