<section id="header" class="bg-color0">
    <div class="container">
        <div class="row">

            <a class="navbar-brand" href="#top"><img src="example/logo.png" alt=""></a>

            <div class="col-sm-12 mainmenu_wrap">
                <div class="main-menu-icon visible-xs"><span></span><span></span><span></span></div>
                <ul id="mainmenu" class="nav menu sf-menu responsive-menu superfish">
                    <li class="">
                        <a href="#about">درباره ما</a>
                    </li>
                    <li class="">
                        <a href="#features">ویژگی ها</a>
                    </li>
                    <li class="">
                        <a href="#portfolio">نمونه کارها</a>
                    </li>
                    <li class="">
                        <a href="#sale">خدمات فوری</a>
                    </li>
                    <li class="">
                        <a href="#info">تماس با ما</a>
                    </li>

                </ul>
            </div>

        </div>
    </div>
</section>
