<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MvcAjaxPager" version="1.0.2" targetFramework="net45" />
  <package id="PathJS" version="0.8.4" targetFramework="net45" />
</packages>