@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekan.eot');
    src: url('../fonts/BYekan.eot#iefix') format('embedded-opentype'),
         url('../fonts/BYekan.woff') format('woff'),
         url('../fonts/BYekan.ttf') format('truetype'),
         url('../fonts/BYekan.svg#CartoGothicStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: yekan !important;
}
.container-fulid .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#header {
    min-height: 90px;
    background-color:red;
}
.table {
    direction: rtl !important;
    
}
.tdCenter td,.tdCenter th {
    text-align: center;
}
.tdRight td,.tdRight th {
    text-align: right;
}
#contentBody {
    padding:20px 5px 0 10px
}
.form-group {
    direction: rtl !important;
}
#pager {
   display:flex;
    align-items: center;
}
#ListPager {
    margin: 0 auto;
    margin-bottom:50px;
}
#pager a[disabled="disabled"] {
    text-decoration: none;
    color: gray;
    cursor: not-allowed;
}
#pager span {
    padding:5px;
    display: inline-block;
    background-color: blue;
    color:#fff;
    border-radius:3px;
}
#pager a {
    padding:5px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #337ab7;
    text-decoration: none;
    border-radius:3px;
}
#pager a:hover {
    background-color: #ddd;
    border: 1px solid #fff;
}