

<div id="panel1" style="width:100%;">
    <span data-panel="panel1" class="panel-button" style="margin:0 30px 0 auto;"></span>
    <div id="accordion">
        <ul>
            <li>
                <a href="@Url.Action("Index","Home")">خانه</a>
            </li>
            <li>
                <div>Sollicitudin</div>
                <ul>
                    <li><a href="?11">Lorem ipsum</a></li>
                    <li><a href="?12">Dolor sit</a></li>
                    <li>
                        <div>Commodo Rhoncus</div>
                        <ul>
                            <li><a href="?131">Consectetur</a></li>
                            <li><a href="demo.html">Current</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <div>Quis Porttitor</div>
                <ul>
                    <li><a href="?21">Finibus Bonorum</a></li>
                    <li><a href="?22">Sed ut</a></li>
                    <li><a href="?23">Neque porro</a></li>
                </ul>
            </li>
            <li>
                <div>Odio Ac</div>
                <ul>
                    <li><a href="?31">Minima veniam</a></li>
                    <li><a href="?32">Voluptate velit</a></li>
                </ul>
            </li>
            <li>
                <a href="?4">Sapien quam</a>
            </li>
        </ul>
    </div>
</div>
    